@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap");

H1, h2, h3 {
  font-family: "Caladea", sans-serif;
}

body {
  font-family: "Signika", sans-serif;
}

code {
  font-family: "Signika", bold;
}